<div class="row weather-widget">

 <div class="col-xs-12"><h4><b>{{title}}</b></h4></div>
  <div class="container col-xs-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="panel-title header">
                  <div class="row">
                    <div class="col-xs-4">{{weather.locationname}}, {{weather.countryCode}}</div>
                    <div class="col-xs-6"><span>{{weather.timestamp}}</span></div>
                     <div class="col-xs-1 metric pull-right">
                          <i ng-class="(units=='metric') ? 'wi wi-celsius' : 'wi wi-fahrenheit'"></i>
                      </div>
                  </div>
                </div>
              </div>
              <div class="panel-body pull-center body day">
                <div class="row">
                  <div class="col-xs-4">
                    <weather-icon cloudiness="{{ weather.clouds }}" custom-size="33" >
                    </weather-icon>
                  </div>
                  <div class="col-xs-4"><span class="align-left tempContent"><span ng-bind-html="weather.temp.current | temparature:1"></span></span></div>
                  <div class="col-xs-4" ng-if="showwind"><span class="align-left windContent">{{weather.windSpeed}} 
                  <span ng-if="(units=='metric')">km/h</span><span ng-if="(units=='imperial')">mph</span>
                  </span></div>
                </div>
                <div class="row">
                  <div class="col-xs-4"><span class="align-left subContent"><span ng-bind-html="weather.temp.max | temparature:1"></span>/<span ng-bind-html="weather.temp.min | temparature:1"></span></span></div>
                  <div class="col-xs-4"><span class="align-left subContent">Humidity {{weather.humidity}}%</span></div>
                  <div class="col-xs-4" ng-if="showwind">
                      
                      <wind-icon angle="{{ weather.windDeg }}" custom-size="20" > </weather-icon>
                  </div>
                 </div>
              </div>
            </div>
  </div>
  



</div>
